@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@400;500;700&display=swap');

:root {
    --text-color: #000000;
    --background-color: #ffffff;
    --gradient-background: linear-gradient(94deg, #1D592E 14.82%, #BEE1C8 142.61%);
    --box-shadow: 0px 4.9764px 4.9764px 0px rgba(0, 0, 0, 0.25);
    --dark-brown-color: #6E603A;
    --light-green-color: #BEE1C8;
    --dark-green-color: #1D592D;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: var(--text-color);
}

#categorias {
    padding: 5px;
}

ul.menu {
    list-style: none;
}

ul.menu li {
    position: relative;
    cursor: pointer;
}

ul.menu li:hover {
    background-color: var(--dark-brown-color);
    color: var(--background-color);
}

/* Vertical submenu style */
ul.submenu {
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--background-color);
}

.menu-item {
    color: var(--text-color);
}

ul.menu li:hover ul.submenu {
    display: block;
}

ul.submenu li {
    padding: 10px;
    color: var(--text-color);
}

ul.submenu li:hover {
    background-color: var(--dark-brown-color);
    padding: 10px;
}